{% extends 'base.html' %}

{% block content %}
<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/people-running-in-desert-at-dusk-side-view-royalty-free-image-200259790-001-1535638081.jpg?crop=1xw:0.99974xh;center,top&resize=980:*", alt="People running in sunset", style = 'height:300px;'>
<img src="http://images.huffingtonpost.com/2016-06-27-1467026203-3132213-bike.jpg", style = 'height:300px;float:right'>
<img src="https://www.verywellfit.com/thmb/WEMOE5Z79lFIOOwPfgHljmF1aao=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Verywell-42-3498282-Pushup01-1596-5994a0f8519de20010b3bdd3.gif" style="margin-left:auto;margin-right:auto;height:300px">
<h1 class="center">Let's be strong! Let's challenge ourselves!</h1>
<h2 class="center">Today's daily exercise is {{ activity }}</h2>
<div class="center">
	<a href = '/home/?page=1'><button type = "button" style="position:relative;right:2%;background-color:lightblue;font-size:25px;">Log in</button></a><a href = '/create_user/'><button type = "button", style="position:relative;left:2%;background-color:lightblue;font-size:25px;">Sign up</button></a>
</div>
<h2 class="center">Challenge rules</h2>
	<p class="center">Start date: July 6</p>
	<p class="center">End date: August 6</p>
	<p class="center">Every day, an exercise will be posted. Adults must do double what their kid does. You will not log this exercise</p>
	<p><table class="center">
		<tr>
			<th class="padded">Age</th>
			<th class="padded">Miles to finish</th>
		</tr>
		<tr>
			<td class="padded">5 and below</td>
			<td class="padded">40 miles, 5 have to be running</td>
		</tr>
		<tr>
			<td class="padded">6-8</td>
			<td class="padded">60 miles, 15 have to be running</td>
		</tr>
		<tr>
			<td class="padded">9-11</td>
			<td class="padded">80 miles, 30 have to be running</td>
		</tr>
		<tr>
			<td class="padded">18+</td>
			<td class="padded">100 miles, 20 absolutely must be running (If you don't, kids will revolt)</td>
		</tr>
	</table>
	</p>
	<p class="center"><strong>One bike mile is equal to 1/2 mile</strong></p>
	<p class="center" style="font-size: 13px;"><strong>Unfortunately, all running miles must be outside</strong></p>
{% endblock %}