{% extends 'base.html' %}

{% block content %}
<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/people-running-in-desert-at-dusk-side-view-royalty-free-image-200259790-001-1535638081.jpg?crop=1xw:0.99974xh;center,top&resize=980:*", alt="People running in sunset", style = 'height:300px;'>
<img src="http://images.huffingtonpost.com/2016-06-27-1467026203-3132213-bike.jpg", style = 'height:300px;float:right'>
<img src="https://www.verywellfit.com/thmb/WEMOE5Z79lFIOOwPfgHljmF1aao=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Verywell-42-3498282-Pushup01-1596-5994a0f8519de20010b3bdd3.gif" style="margin-left:auto;margin-right:auto;height:300px">
<h1 class = 'center'>Let's be strong! Let's challenge ourselves!</h1>
<p class = 'center'>Click <a href = '/home/'>here</a> to login to an account, or <a href = '/create_user/'>here</a> to create a new one.</p>
<h2 class="center">Challenge rules</h2>
	<p class="center">Start date: May 16</p>
	<p class="center">End date: June 30</p>
	<p><table class="center">
		<tr>
			<th>Age</th>
			<th>Miles to finish</th>
			<th>Daily tasks</th>
		</tr>
		<tr>
			<td>5 and below</td>
			<td>30</td>
			<td>None</td>
		</tr>
		<tr>
			<td>6-8</td>
			<td>50</td>
			<td>Pushups, Sit-ups and Wall-sits for 20 seconds each</td>
		</tr>
		<tr>
			<td>9-11</td>
			<td>70</td>
			<td>Pushups, Sit-ups and Wall-sits for 20 seconds each</td>
		</tr>
		<tr>
			<td>18+</td>
			<td>100</td>
			<td>Pushups, Sit-ups and Wall-sits for 20 seconds each</td>
		</tr>
	</table>
	</p>
	<p class="center"><strong>One bike mile is equal to 1/2 miles</strong></p>
{% endblock %}