{% extends 'base.html' %}

{% block content %}
<table>
	<tr>
		<th>Name</th>
		<th>Age group</th>
		<th>Avg. Push-ups</th>
		<th>Avg. Sit-ups</th>
		<th>Total miles</th>
	</tr>
	{% for key, value in dict.items %}
	<tr>
		<td>{{ key.first_name }}</td>
		<td>{{ key.age_group }}</td>
		{% for v in value %}
		{% for v2 in v.values %}
		{% if v2 is not None %}
		<td>{{ v2|floatformat }}</td>
		{% else %}
		<td>0</td>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</tr>
{% endfor %}
</table>
{% endblock %}