{% extends 'base.html' %}

{% block content %}
{% load tags %}
 <h4 class="image-text">Our first check-in will be on May 30th. <br><br> A suprise will be revealed for all the kids. <br><br>
Make sure to put in your activities before 7:00 P.M.</h4>
<h2>18+</h2>
{% if dict %}
<table>
	<tr>
		<th><a href="?{% url_replace request 'order_by' 'first_name' '-' %}">Name</a></th>
		<th><a href="?{% url_replace request 'order_by' 'push_average' '-' %}">Avg. Push-ups</a></th>
		<th><a href="?{% url_replace request 'order_by' 'sit_average' '-' %}">Avg. Sit-ups</a></th>
		<th><a href="?{% url_replace request 'order_by' 'total_miles' '-' %}">Total Miles</a></th>
	</tr>
	{% for key, value in dict.items %}
	<tr>
		<td>{{ key.first_name }}</td>
		<td>{{ value.push_average|floatformat }}</td>
		<td>{{ value.sit_average|floatformat }}</td>
		<td>{{ value.total_miles|floatformat }} <br><progress value="{{ value.progress }}" max="100"></td>
	</tr>
	{% endfor %}
</table>
{% else %}
<h3>No participants for this age group.</h3>
{% endif %}
<br>
<br>
<h2>9-11</h2>
{% if dict2 %}
<table>
	<tr>
		<th><a href="?{% url_replace request 'order_by' 'first_name' '-' %}">Name</a></th>
		<th><a href="?{% url_replace request 'order_by' 'push_average' '-' %}">Avg. Push-ups</a></th>
		<th><a href="?{% url_replace request 'order_by' 'sit_average' '-' %}">Avg. Sit-ups</a></th>
		<th><a href="?{% url_replace request 'order_by' 'total_miles' '-' %}">Total Miles</a></th>
	</tr>
	{% for key, value in dict2.items %}
	<tr>
		<td>{{ key.first_name }}</td>
		<td>{{ value.push_average|floatformat }}</td>
		<td>{{ value.sit_average|floatformat }}</td>
		<td>{{ value.total_miles|floatformat }} <br><progress value="{{ value.progress }}" max="100"></td>
	</tr>
	{% endfor %}
</table>
{% else %}
<h3>No participants for this age group.</h3>
{% endif %}
<br>
<br>
<h2>6-8</h2>
{% if dict3 %}
<table>
	<tr>
		<th><a href="?{% url_replace request 'order_by' 'first_name' '-' %}">Name</a></th>
		<th><a href="?{% url_replace request 'order_by' 'push_average' '-' %}">Avg. Push-ups</a></th>
		<th><a href="?{% url_replace request 'order_by' 'sit_average' '-' %}">Avg. Sit-ups</a></th>
		<th><a href="?{% url_replace request 'order_by' 'total_miles' '-' %}">Total Miles</a></th>
	</tr>
	{% for key, value in dict3.items %}
	<tr>
		<td>{{ key.first_name }}</td>
		<td>{{ value.push_average|floatformat }}</td>
		<td>{{ value.sit_average|floatformat }}</td>
		<td>{{ value.total_miles|floatformat }} <br><progress value="{{ value.progress }}" max="100"></td>
	</tr>
	{% endfor %}
</table>
{% else %}
<h3>No participants for this age group.</h3>
{% endif %}
<br>
<br>
<h2>5 and below</h2>
{% if dict4  %}
<table>
	<tr>
		<th><a href="?{% url_replace request 'order_by' 'first_name' '-' %}">Name</a></th>
		<th><a href="?{% url_replace request 'order_by' 'push_average' '-' %}">Avg. Push-ups</a></th>
		<th><a href="?{% url_replace request 'order_by' 'sit_average' '-' %}">Avg. Sit-ups</a></th>
		<th><a href="?{% url_replace request 'order_by' 'total_miles' '-' %}">Total Miles</a></th>
	</tr>
	{% for key, value in dict4.items %}
	<tr>
		<td>{{ key.first_name }}</td>
		<td>{{ value.push_average|floatformat }}</td>
		<td>{{ value.sit_average|floatformat }}</td>
		<td>{{ value.total_miles|floatformat }} <br><progress value="{{ value.progress }}" max="100"></td>
	</tr>
	{% endfor %}
</table>
{% else %}
<h3>No participants for this age group.</h3>
{% endif %}
{% endblock %}